/*ჰედერის ნაწილი*/
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.top-bar {
  background-color: #474747;
  width: 100%;
}
.bottom-bar {
  background-color: #f2f5ec;
  width: 100%;
}
.contacts-class {
  max-width: 1293px;
  width: 90%;
  margin: 0 auto;
}
.contact-bar {
  color: #f9f9f7;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.for-contacts a {
  font-weight: 400;
  font-size: 16px;
  font-family: "DM Sans 18pt";
  line-height: 24px;
  letter-spacing: 0px;
}
.contact-bar a {
  color: #f9f9f7;
}
.for-contacts {
  display: flex;
  column-gap: 25px;
}
.for-contacts i {
  margin-right: 8px;
}
.social-icons {
  display: flex;
  column-gap: 15px;
}
.social-icons a {
  width: 27.17px;
  height: 27.17px;
  border-radius: 100px;
  background-color: #f9f9f71f;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.5s ease 0.2s;
}
.social-icons a:hover {
  transform: translateY(-4px);
}
.menu-container {
  max-width: 1293px;
  width: 100%;
  margin: 0 auto;
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-container img {
  width: 100%;
}

.ul-list {
  display: flex;
  column-gap: 8px;
}
.ul-list li {
  transition: 0.5s ease 0.2s;
}
.ul-list li:hover {
  transform: translateY(-3px);
}
.logo {
  transition: 0.5s ease 0.2s;
}
.logo:hover {
  transform: translateY(-3px);
}
.ul-list a {
  color: #2c2f24;
  padding: 6px 16px;
  border-radius: 34px;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  font-family: "DM Sans 18pt";
  transition: all 0.5s ease 0.2s;
}
.ul-list a:hover {
  background-color: #ad343e;
  color: #f2f5ec;
}
.menu-container button {
  border: 1.5px solid #2c2f24;
  border-radius: 118px;
  padding: 12px 24px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  font-family: "DM Sans 18pt";
  line-height: 24px;
  letter-spacing: 0px;
  color: #182226;
  transition: all 0.5s ease 0.2s;
}
.menu-container button:hover {
  background-color: #ad343e;
}
.menu-container button a:hover {
  color: #f2f5ec;
}
.burger-bar {
  display: none;
  font-size: 35px;
}

/*პირველი სექცია*/

.bg-photo {
  background-image: url(../images/bgphoto.jpg);
  height: 802px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-text {
  width: 667px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
h1 {
  font-weight: 400;
  font-style: Regular;
  font-size: 100px;
  font-family: "Playfair Display";
  line-height: 96px;
  letter-spacing: 0px;
  text-align: center;
}
.text-side {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.text-side h4 {
  font-family: "DM Sans 18pt";
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  padding: 0px 65px;
}
.buttons-side {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}
.buttons-side button {
  display: flex;
  width: 164px;
  height: 64px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  font-family: "DM Sans 18pt";
  color: #182226;
  border-radius: 118px;
  border: 1.5px solid #2c2f24;
}
.different {
  background-color: #ad343e;
  transition: 0.5s ease 0.01s;
}
.different a {
  color: #fff;
}
.different:hover {
  background-color: #d8d0d0;
}
.second-button {
  transition: all 0.5s ease 0.01s;
}
.second-button:hover {
  background-color: #ad343e;
}
.second-button a:hover {
  color: #f2f5ec;
}
.different a:hover {
  color: #2c2f24;
}

/*მეორე სექცია*/

.about-menu {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 64px;
  padding: 92px 0px 120px 0px;
}
.about-menu h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 60.5px;
  letter-spacing: 0px;
  text-align: center;
  font-family: "Playfair Display";
  color: #2c2f24;
}
.box-class {
  display: flex;
  column-gap: 24px;
  text-align: center;
  max-width: 1296px;
  width: 100%;
}
.product-div {
  border: 1.5px solid#DBDFD0;
  border-radius: 12px;
  padding: 40px 34px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  width: 306px;
  transition: all 0.5s ease 0.01s;
}
.product-div:hover {
  background-color: aqua;
  transform: translateY(-10px);
}
.icons {
  width: 100px;
  height: 100px;
  background-color: #f3eeee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition: 0.5s ease 0.01s;
}
.icons:hover {
  background-color: #ad343e;
}
.icons img {
  width: 50px;
}

.text-area {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.text-area h4 {
  font-family: "DM Sans 18pt";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -3%;
  color: #2c2f24;
}
.text-area h6 {
  font-family: "DM Sans 18pt";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}
.product-div h5 a {
  font-family: "DM Sans 18pt";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ad343e;
  transition: 0.5s ease 0.01s;
}
.product-div h5 a:hover {
  color: rgb(12, 12, 12);
}

/*მესამე სექცია*/

.purpose-class {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 90px;
  margin-bottom: 120px;
}
.wrap-class {
  width: 100%;
  display: block;
  border-radius: 12px;
}
.contact-img {
  position: relative;
}
.again-contact {
  position: absolute;
  bottom: -8%;
  right: -8%;
  max-width: 400px;
  width: 100%;
  height: 300px;
  background-color: #474747;
  color: #ffffff;
  padding: 30px;
  transition: all 0.5s ease 0.01s;
  border-radius: 12px;
}
.again-contact:hover {
  background-color: chocolate;
  transform: translateY(-5px);
}
.again-contact a {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  font-family: "DM Sans 18pt";
}
.again-contact a:hover {
  color: black;
  transition: 0.5s ease 0.01s;
}
.again-contact h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -3%;
  font-family: "DM Sans 18pt";
  margin-bottom: 45px;
  transition: 0.5s ease 0.01s;
}
.again-contact h4:hover {
  color: black;
}
.cont-us {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.for-colm-gap {
  display: flex;
  column-gap: 20px;
}

.healthy-food {
  width: 557px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.for-family {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.for-family h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 60.5px;
  letter-spacing: 0px;
  font-family: "Playfair Display";
  color: #2c2f24;
}
.dark {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  font-family: "DM Sans 18pt";
  color: #2c2f24;
}
.light {
  color: #414536;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  font-family: "DM Sans 18pt";
}
.healthy-food button {
  width: 179px;
  height: 64px;
  padding: 20px 32px;
  border: 1.5px solid #2c2f24;
  border-radius: 118px;
  transition: 0.5s ease 0.01s;
}
.healthy-food button:hover {
  background-color: #ad343e;
}
.healthy-food a {
  font-family: "DM Sans 18pt";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #182226;
  transition: 0.5s ease 0.01s;
}
.healthy-food a:hover {
  color: #fff;
}

/*მეოთხე სექცია*/
.services {
  max-width: 1296px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  margin-bottom: 120px;
}
.services:hover {
  transform: translateY(-10px);
}
.all-boxes {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}
.block-class img {
  width: 100%;
  border-radius: 12px;
}
.block-class {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.services h3 {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 55px;
  line-height: 60.5px;
  letter-spacing: 0px;
  color: #2c2f24;
  width: 675px;
}
.for-info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.for-info h5 {
  font-family: "DM Sans 18pt";
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -3%;
  color: #2c2f24;
}
.for-info p {
  font-family: "DM Sans 18pt";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #414536;
  padding-right: 25px;
}
.about-services {
  transition: 0.5s ease 0.01s;
}
.about-services:hover {
  transform: translateY(-10px);
}

/*მეხუთე სექცია*/

.delivery-block {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 120px;
  align-items: center;
  column-gap: 90px;
}
.picture-block {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.picture-block img {
  width: 100%;
  display: block;
  border-radius: 12px;
}
.food-pic {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.fastest {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.about-delivery {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 461px;
}
.about-delivery h3 {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 55px;
  line-height: 60.5px;
  letter-spacing: 0px;
  color: #2c2f24;
}
.about-delivery h6 {
  font-family: "DM Sans 18pt";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #414536;
}
.details-box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.details-mg {
  margin-right: 3px;
}
.details-box i {
  width: 30px;
  height: 30px;
  color: #ffffff;
  font-size: 11.3px;
  background-color: #ad343e;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease 0.01s;
}
.details-box i:hover {
  background-color: #182226;
  width: 40px;
  height: 40px;
}
.for-flex {
  display: flex;
  align-items: center;
  column-gap: 3px;
}
.details-box p {
  font-family: "DM Sans 18pt";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #2c2f24;
}

/*მეექვსე სექცია*/

.customers-div {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  row-gap: 64px;
}
.boxes-part {
  display: flex;
  column-gap: 24px;
}
.review-block {
  padding: 45px 35px 35px;
  background-color: #f9f9f7;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  transition: all 0.5s ease 0.01s;
}
.review-block:hover {
  background-color: aqua;
  transform: translateY(-10px);
}
.customers-div h3 {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 55px;
  line-height: 60.5px;
  letter-spacing: 0px;
  color: #2c2f24;
}
.cust-side {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.cust-side h4 {
  font-family: "DM Sans 18pt";
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -3%;
  color: #ad343e;
}
.cust-side h6 {
  font-family: "DM Sans 18pt";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #414536;
}
.image-class {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.name-class {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
.name-class h5 {
  font-family: "DM Sans 18pt";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #2c2f24;
}
.name-class h6 {
  font-family: "DM Sans 18pt";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #414536;
}





/*ფორმები*/

/* .form-tags {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  column-gap: 70px;
  row-gap: 120px;
  margin-bottom: 120px;
}
.book-a-table,
.contact-form {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.for-texts {
  text-align: center;
}
.for-texts h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 40px;
  line-height: 96px;
  letter-spacing: 0px;
}
.for-texts h5 {
  font-family: "DM Sans 18pt";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
}
.for-row-gap {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.divide-div {
  display: flex;
  column-gap: 24px;
  align-items: center;
}
.btn-class {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.for-width {
  max-width: 560px;
  width: 100%;
}
.input-el {
  width: 100%;
}
.input-class {
  padding: 10px 10px;
} */
