@media(max-width:1024px)
{
    .navigation{
        display: none;
    }
    .burger-bar{
        display: block;
        order: 1;
    }
    .logo{
        order: 2;
    }
    .button-class{
        order: 3;
    }
/*პირველი სექცია*/
/* .bg-photo{
    height: auto;
} */
.main-text{
    width: 100%;
}

}
@media(max-width:580px){
    .button-class{
        display: none;
    }
    .email{
        display: none;
    }
    .burger-bar{
        font-size: 25px;
    }
    .logo{
        width: 200px;
    }
    .menu-container{
        padding: 5px 20px;
    }
}

@media(max-width:400px){
    .burger-bar{
        font-size: 20px;
    }
   .logo{
    width: 150px;
   }
   .social-icons{
    column-gap: 4px;
   }
   
}

