@media (max-width: 1024px) {
  .navigation {
    display: none;
  }
  .burger-bar {
    display: block;
    order: 1;
  }
  .logo {
    order: 2;
  }
  .button-class {
    order: 3;
  }
  /*პირველი სექცია*/
  .bg-photo {
    background-position: left;
  }
  .main-text {
    width: 500px;
    row-gap: 20px;
  }
  .text-side {
    row-gap: 10px;
  }
  h1 {
    font-size: 55px;
  }
  .text-side h4 {
    font-size: 18px;
  }
  .buttons-side {
    column-gap: 8px;
  }

  /*მეორე სექცია*/
  .box-class {
    flex-wrap: wrap;
  }
  .product-div {
    width: 48%;
    row-gap: 20px;
    margin-bottom: 20px;
  }
  .about-menu {
    row-gap: 40px;
    padding: 60px 0px 50px 0px;
  }
  .about-menu h2 {
    font-size: 50px;
  }
  .product-div {
    padding: 40px 24px 32px;
    row-gap: 15px;
  }
  .icons {
    width: 70px;
    height: 70px;
  }
  .icons img {
    width: 35px;
  }
  .text-area h4 {
    font-size: 16px;
  }
  .text-area h6 {
    font-size: 14px;
  }
  .product-div h5 a {
    font-size: 14px;
  }

  /*მესამე სექცია*/
  .healthy-food {
    width: 100%;
  }

  .again-contact {
    display: none;
  }
  .purpose-class {
    flex-direction: column;
    row-gap: 30px;
  }
  .contact-img {
    width: 95%;
  }
  .healthy-food {
    width: 95%;
  }
  .healthy-food {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .for-family h3 {
    font-size: 40px;
  }

  /*მეოთხე სექცია*/
  .services h3 {
    width: 100%;
  }
  .all-boxes {
    display: flex;
    flex-wrap: wrap;
  }
  .about-services {
    width: 47%;
    margin-bottom: 70px;
  }
  .services h3 {
    font-size: 50px;
    text-align: center;
  }
  .for-info {
    row-gap: 8px;
  }
  .block-class {
    row-gap: 15px;
  }
  .for-info p {
    font-size: 14px;
  }

  /*მეხუთე სექცია*/

  .about-delivery {
    width: 100%;
    text-align: center;
  }
  .about-delivery h3 {
    font-size: 40px;
  }
  .about-delivery h6 {
    display: none;
  }
  .delivery-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 80px;
  }

  /*მეექვსე სექცია*/
  .disp-none {
    display: none;
  }
  /*მეშვიდე სექცია*/
  .yammy {
    width: 100%;
  }
  .food-block {
    flex-direction: column;
    /* row-gap: 50px; */
  }
}

@media (max-width: 830px) {
  .box-class {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .product-div {
    width: 95%;
  }
  .about-menu {
    row-gap: 40px;
    padding: 90px 0px 40px 0px;
  }
  .about-menu h2 {
    font-size: 40px;
  }
  .product-div {
    padding: 40px 50px 40px;
    row-gap: 30px;
  }
  .icons {
    width: 100px;
    height: 100px;
  }
  .icons img {
    width: 50px;
  }

  .text-area h4 {
    font-size: 28px;
  }
  .text-area h6 {
    font-size: 16px;
  }
  .product-div h5 a {
    font-size: 18px;
  }
  .main-text {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  .text-side h4 {
    font-size: 14px;
  }

  .for-family h3 {
    font-size: 30px;
  }
  .dark {
    font-size: 14px;
  }
  .light {
    font-size: 12px;
  }
  .email {
    display: none;
  }
  .services {
    row-gap: 30px;
  }
  .services h3 {
    font-size: 40px;
  }
  .for-info h5 {
    font-size: 20px;
  }
  .for-info p {
    font-size: 12px;
  }
  .about-delivery h3 {
    font-size: 40px;
  }
  .for-flex p {
    font-size: 16px;
  }
  .boxes-part {
    flex-direction: column;
    row-gap: 50px;
    text-align: center;
  }
  .image-class {
    justify-content: center;
    align-items: center;
  }
  .customers-div h3 {
    font-size: 40px;
    text-align: center;
  }
  /*მეშვიდე სექცია*/
  .head-side {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
  }
  .head-side button {
    width: 50%;
  }
  .how-prepare h5 {
    font-size: 16px;
  }
}

@media (max-width: 580px) {
  .bg-photo {
    background-position: left bottom;
  }
  .button-class {
    display: none;
  }

  .burger-bar {
    font-size: 25px;
  }
  .logo {
    width: 200px;
  }
  .menu-container {
    padding: 5px 20px;
  }
  .main-text {
    width: 100%;
  }
  .buttons-side button {
    width: 150px;
    height: 40px;
    font-size: 14px;
    border: none;
  }
  .text-side {
    row-gap: 8px;
  }
  h1 {
    font-size: 40px;
    color: rgb(8, 39, 29);
    line-height: 110%;
  }
  .text-side h4 {
    display: none;
  }
  .buttons-side {
    column-gap: 8px;
  }
  .different {
    background-color: darkorange;
  }
  .second-button {
    background-color: green;
  }

  .for-family h3 {
    font-size: 35px;
    color: black;
  }
  .dark,
  .light {
    display: none;
  }
  .healthy-food button {
    width: 100%;
  }
  .for-info h5 {
    font-size: 20px;
  }
  .for-info p {
    font-size: 14px;
  }
  .all-boxes {
    display: flex;
    flex-direction: column;
  }
  .about-services {
    width: 96%;
  }
  .block-class {
    row-gap: 30px;
  }
  .food-pic {
    display: none;
  }
  .customers-div h3 {
    font-size: 30px;
  }
  .head-side h3 {
    font-size: 40px;
  }
  .head-side button {
    width: 50%;
    padding: 10px 22px;
    height: 45px;
  }
  .how-prepare p {
    font-size: 12px;
  }
  .how-prepare h5 {
    font-size: 14px;
  }
  .burger-secret p {
    font-size: 14px;
  }
  .burger-secret h5 {
    font-size: 16px;
  }
  .burger-secret h6 {
    display: none;
  }
  .mini-boxes {
    flex-direction: column;
  }

  /* .food-boxes {
    display: flex;
    flex-direction: column;
  } */
}

@media (max-width: 400px) {
  .burger-bar {
    font-size: 20px;
  }
  .logo {
    width: 150px;
  }
  .social-icons {
    column-gap: 4px;
  }
  .buttons-side {
    flex-direction: column;
    font-size: 16px;
    row-gap: 8px;
    width: 100%;
  }
  .buttons-side button {
    border: none;
    column-gap: 6px;
    width: 150px;
    height: 35px;
    font-size: 14px;
  }
  h1 {
    font-size: 35px;
    color: rgb(12, 6, 0);
    line-height: 110%;
  }
  .text-side h4 {
    font-size: 12px;
    color: black;
  }
  .about-menu {
    row-gap: 40px;
    padding: 60px 0px 50px 0px;
  }
  .about-menu h2 {
    font-size: 27px;
    color: brown;
  }
  .product-div {
    padding: 40px 24px 32px;
    row-gap: 15px;
  }
  .icons {
    width: 60px;
    height: 60px;
  }
  .icons img {
    width: 30px;
  }
  .text-area h4 {
    font-size: 16px;
  }
  .text-area h6 {
    font-size: 12px;
  }
  .product-div h5 a {
    font-size: 14px;
  }
  .phone-number {
    display: none;
  }
  .social-icons {
    margin: 0 auto;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .for-family h3 {
    font-size: 16px;
  }
  .dark,
  .light {
    display: none;
  }
  .for-info h5 {
    font-size: 16px;
  }
  .for-info p {
    font-size: 14px;
  }
  .services h3 {
    font-weight: 18px;
    line-height: 100%;
  }
  .customers-div h3 {
    font-size: 25px;
  }
  .review-block {
    padding: 25px 15px 15px;
  }
  .cust-side h4 {
    font-size: 20px;
  }
  .cust-side h6 {
    font-size: 14px;
  }

  .burger-secret p {
    font-size: 12px;
  }
  .burger-secret h5 {
    font-size: 14px;
  }

  .head-side button {
    width: 70%;
  }
  .how-prepare p {
    font-size: 8px;
  }
  .how-prepare h5 {
    font-size: 10px;
  }
}
